/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1300px) {
.top-header__main {
padding-left: 60px;
}
.main-increase img {
max-width: 263px;
width: 100%;
}
.container-financ-serv .row {
padding: 0 10px;
}
.nav-second {
padding: 0 15px;
}
.breadcrumb {
padding-left: 0;
}
.top-agency {
padding-left: 0;
}
.upload-container__wrap {
padding-right: 0;
}
.tabs-wrap__mob {
padding: 0 15px;
}
.tabContent-one_form {
padding: 0 15px;
}
.tabContent-one_sort {
padding: 0 15px;
}
.tabContent-one__employees {
padding: 0 15px;
}
.tabContent-one__branches {
padding: 0 15px;
}
footer .row {
padding-left: 15px;
padding-right: 15px;
}
.tabContent-two__header {
padding: 0 15px;
}
.tabContent-two__center {
padding: 0 15px;
}
.tabContent-three {
padding: 0 15px;
}
.padding-add {
padding-right: 15px;
padding-left: 15px;
}
.documents-main ul li a {
font-size: 15px;
}
}
@media only screen and (max-width: 1220px) {
.search {
max-width: 290px;
}
}
@media only screen and (max-width: 1180px) {
.tabContent-one_form .search,
.tabContent-one_form a {
max-width: 230px;
}
.tabContent-two__header .select .slct {
width: 230px;
}
.tabContent-two .agency-btn {
max-width: 205px;
}
.tabContent-requests_one-data li:nth-of-type(1) {
	flex-basis: 50em;
}
.user_agency,
.page-new_request-rightbar {
	max-width: 300px;
}
}
@media only screen and (max-width: 1135px) {
.nav ul {
padding: 0 10px;
}
.financ-serv p {
font-size: 48px;
}
footer .row {
padding-right: 20px;
padding-left: 20px;
}
.top-main__img_comp {
right: -250px;
max-width: 600px;
}
.top-main__img_tab {
bottom: 10px;
right: 232px;
max-width: 220px;
}
.top-main__img_mob {
bottom: 35px;
right: 175px;
max-width: 120px;
}
.top-main__img_comp, .top-main__img_tab, .top-main__img_mob {
}
.nav-second ul li:nth-of-type(2) {
margin-left: 0;
margin-right: 20px;
}
.user_agency {
max-width: 270px;
}
.radio-checkbox label {
font-size: 15px;
}
.radio-checkbox input[type=radio] + label:before {
margin-right: 6px;
}
.tabContent-requests_one-data li:nth-of-type(1) {
	flex-basis: 49em;
	margin-right: 5px;
}
.tabContent-requests_one-data li:nth-of-type(2) {
	flex-basis: 33em;
	margin-right: 5px;
}
.tabContent-requests_one-data .resize-li {
	flex-basis: 33em;
}
.tabContent-requests_one-data li .select {
	max-width: 140px;
}
.tr li:nth-of-type(1) {
	width: 27%;
}
.table-request .tr li:nth-of-type(3) {
	width: 19%;
}
.table-request .tr li:nth-of-type(2) {
	width: 54%;
}
.tr-center p {
  max-width: 320px;
}
.tabContent-requests_one-header {
	padding-left: 5px;
	padding-right: 5px;
}
}
@media only screen and (max-width: 1020px) {
.tabContent-one_form a {
max-width: 210px;
padding: 0 10px;
}
.radio-checkbox label {
font-size: 14px;
}
.tr li:nth-of-type(1) {
	width: 30%;
}
.table-request .tr li:nth-of-type(3) {
	width: 20%;
}
.table-request .tr li:nth-of-type(2) {
	width: 50%;
}
.tr-center_name span {
display: block;
}
.tr-center p {
  max-width: 300px;
}
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
.nav ul {
padding: 0;
}
.nav ul li {
font-size: 13px;
}
.nav ul li:nth-of-type(5) {
font-size: 16px;
}
.nav ul li:nth-of-type(5) span {
font-size: 13px;
}
.watsup {
top: -2px;
width: 25px;
height: 25px;
}
.logo-main {
padding: 0 10px;
}
.nav-second ul li:nth-of-type(2) {
margin: 0;
}
.nav ul li:nth-of-type(6) {
padding: 0 10px;
}
.page-img_resize {
background-size: 100% 550px;
}
.top-main__img_comp {
max-width: 400px;
right: -110px;
bottom: 30px;
}
.top-main__img_tab {
max-width: 150px;
bottom: 23px;
right: 210px;
}
.top-main__img_mob {
max-width: 90px;
bottom: 40px;
right: 160px;
}
.top-header__main p {
font-size: 36px;
margin-bottom: 30px;
}
.top-header__main ul li {
font-size: 13px;
}
.top-header__main ul li img {
width: 17px;
margin-right: 10px;
}
.button__main {
max-width: 175px;
height: 35px;
font-size: 13px;
}
.button-top__txt p {
font-size: 10px;
}
.top-header__main {
padding-top: 70px;
background-size: 100% 550px;
}
.button-top__main {
margin-top: 30px;
}
.button-top__txt img {
width: 12px;
height: 25px;
top: 0;
left: 20px;
}
.page-title__main {
font-size: 23px;
padding-top: 50px;
padding-bottom: 45px;
}
.page-title__main-margin {
padding-top: 0;
}
.main-increase p span:nth-of-type(1) {
font-size: 25px;
}
.main-increase p span:nth-of-type(2) {
font-size: 12px;
}
.row-main__increase {
padding: 0 15px;
}
.main-increase__second p span:nth-of-type(2) {
margin-top: 4px;
}
.financ-serv p {
font-size: 35px;
}
.financ-serv p span {
font-size: 13px;
}
.container-financ-serv .row {
padding: 0 15px;
}
.button__main-banks {
max-width: 200px;
}
.main-window__web-all ul li {
font-size: 13px;
margin-bottom: 15px;
}
.main-window__web-all ul li img {
width: 17px;
margin-right: 10px;
}
.main-window__web-all .page-title__main {
margin-bottom: 30px;
}
.button__main-window-web {
max-width: 230px;
margin-top: 30px;
}
.window-main__youtube {
padding-top: 13px;
}
.window-main__youtube a {
font-size: 13px;
}
.page-title__main-min {
font-size: 13px;
}
.nav-border__dot:after {
bottom: 2px;
}
.line-li {
height: 18px;
}
/*style agency*/
.name-agency {
margin-top: 10px;
}
.name-agency p:nth-of-type(1) {
font-size: 13px;
}
.name-agency p:nth-of-type(2) {
margin-top: 5px;
font-size: 25px;
}
#upload-container {
height: 85px;
}
#tabs .tab {
font-size: 11px;
padding-bottom: 10px;
}
.agency-btn:nth-of-type(1) {
margin: 0 15px;
}
.tabContent-one_sort {
margin-top: 15px;
}
.tabContent-one__employees {
margin-top: 30px;
}
.popup-menu .poup-1 {
width: 500px;
padding: 15px;
}
.popup-menu .poup-enter {
width: 500px;
padding: 0;
padding-top: 15px;
}
.modal_title {
font-size: 22px;
}
.user_agency {
display: none;
}
.nav .hidden-menu__tab {
flex-direction: column;
}
/*бургер для планшетной версии*/
.burger__tab {
display: block;
}
.nav .burger__tab .hidden-menu__tab {
width: 300px;
}
.hidden-menu__tab .burger-top {
padding-right: 15px;
padding-left: 15px;
padding-bottom: 30px;
background: #f0f2f4;
}
.hidden-menu__tab .burger-top:after {
position: relative;
top: 30px;
content: "";
display: block;
width: 60px;
height: 1px;
background: #cfdde5;
}
.hidden-menu__tab .burger-center__second {
margin-top: 0;
}
.nav-second .hidden-menu__tab {
display: none;
position: absolute;
list-style:none;
margin: 0;
box-sizing: border-box;
background-color: #f0f2f4;
height: 100%;
top: 60px;
right: -100%;
transition: right .3s;
z-index: 20;
-webkit-transform: translateZ(0);
-webkit-backface-visibility: hidden;
}
.hidden-menu-ticker-tab {
display: none;
}
.btn-menu-tab {
color: #fff;
position: relative;
cursor: pointer;
transition: left .23s;
z-index: 3;
width: 32px;
-webkit-transform: translateZ(0);
-webkit-backface-visibility: hidden;
}
.btn-menu-tab span {
display: block;
width: 32px;
height: 1px;
background-color: #fff;
margin: 7px 0 0;
transition: all .1s linear .23s;
position: relative;
}
.btn-menu-tab span.first-tab {
margin-top: 0;
}
.hidden-menu-ticker-tab:checked ~ .btn-menu-tab {
left: 0px;
}
.hidden-menu-ticker-tab:checked ~ .hidden-menu__tab {
display: block;
right: 0px;
}
.hidden-menu-ticker-tab:checked ~ .btn-menu-tab span.first-tab {
-webkit-transform: rotate(45deg);
top: 6px;
}
.hidden-menu-ticker-tab:checked ~ .btn-menu-tab span.second-tab {
opacity: 0;
}
.hidden-menu-ticker-tab:checked ~ .btn-menu-tab span.third-tab {
-webkit-transform: rotate(-45deg);
top: -10px;
}
.nav .burger-center ul {
flex-direction: column;
align-items: flex-start;
}
.nav .burger-center ul li {
padding: 0;
color: #004b7a;
}
.tabContent-two__header .select .slct {
width: 250px;
}
.agency_form__modal #tabs .tab {
width: 220px;
}
.margin-calc_mob {
	margin-bottom: 25px;
}
.radio-checkbox-new_request {
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.checkbox-new_request {
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}  
#r-adress-03 .accordion, #r-adress-04 .accordion, #r-adress-05 .accordion, #r-adress-06 .accordion, #r-adress-07 .accordion, #r-adress-08 .accordion, #r-adress-09 .accordion {
	height: auto;
	min-height: 53px;
}
.new-request_btn {
	flex-direction: column;
	align-items: flex-start;
}
.new-request_btn a {
	margin: 0 auto;
}
.new-request_btn a:nth-of-type(1) {
	margin-bottom: 15px;
}
.row-new-request_name-top {
	flex-direction: column-reverse;
}
.papper-view_wrap {
	margin-top: 21px;
	margin-bottom: 0px;
}
.row-new-request_name-top .name-pages_new-request {
	margin-top: 40px;
}
.name-pages_new-request {
	flex-direction: column-reverse;
	align-items: flex-start;
}
.name-pages_new-request a {
	margin: 0;
	margin-bottom: 25px;
}
.tabContent-requests_one-data li:nth-of-type(1) {
	flex-basis: 49em;
	margin-right: 5px;
}
.tabContent-requests_one-data li:nth-of-type(2),
.tabContent-requests_one-data li:nth-of-type(3)  {
	flex-basis: auto;
}
}
@media only screen and (max-width: 850px) {
.nav {
height: 60px;
}
.nav ul li {
font-size: 11px;
}
.nav ul li:nth-of-type(5) {
font-size: 13px;
}
.nav ul li:nth-of-type(5) span {
font-size: 11px;
}
.nav-border__dot:after {
bottom: 1px;
}
.line-li {
height: 15px;
}
.watsup {
width: 20px;
height: 20px;
}
.logo-main img {
}
.top-header__main {
padding-left: 30px;
}
.button__main {
font-size: 12px;
max-width: 160px;
}
.button__main-second {
margin-left: 10px;
}
.button-top__txt p {
font-size: 9px;
}
.button-top__txt img {
left: 15px;
}
.top-header__main {
background-size: 100% 500px;
}
.button-top__txt {
padding-bottom: 0px;
}
.top-main__img_comp {
bottom: 17px;
}
.top-main__img_tab {
bottom: 10px;
}
.top-main__img_mob {
bottom: 27px;
}
.financ-serv p span {
font-size: 12px;
}
.button__main-banks {
margin: 50px auto;
}
.button__main-window-web {
max-width: 230px;
}
.page-title__main-min {
font-size: 12px;
}
footer .footer-block p {
font-size: 12px;
}
footer .footer-block__two div {
margin-top: 23px;
}
.page-new_request-rightbar {
	max-width: 270px;
}
.new-request_right a:nth-of-type(1) {
	padding: 0 40px;
}
}
/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
.nav {
display: none;
}
.nav-mob {
display: flex;
align-items: center;
width: 100%;
height: 60px;
background-color: #004b7a;
}
.top-main__img_comp,
.top-main__img_tab,
.top-main__img_mob {
display: none;
}
.top-header__main p {
text-align: center;
}
.top-header__main ul li {
font-size: 15px;
}
.top-header__main {
padding: 68px 15px 0 15px;
}
.top-header__main ul {
max-width: 320px;
margin: 0 auto;
}
.button-top__main {
position: relative;
max-width: 270px;
margin: 30px auto 0px auto;
}
.button__main-second-mob-none {
display: none;
}
.button__main-second-mob {
max-width: 100px;
}
.button-top__txt {
position: relative;
padding-top: 17px;
padding-bottom: 13px;
padding-left: 25px;
padding-right: 25px;
display: flex;
align-items: center;
margin-top: 20px;
width: 105%;
background-color: #3292e2;
margin-right: -15px;
margin-left: -15px;
}
.button-top__txt p {
margin: 0;
width: 100%;
opacity: 0.5;
font-size: 13px;
text-align: center;
color: rgba(255, 255, 255, 0.5);
}
.button__main-second-mob {
display: flex;
}
.main-pointer__mob {
display: block;
}
.main-pointer__mob {
position: absolute;
top: 29px;
left: 58%;
-webkit-transform: rotate3d(0, 2, 0, 180deg);
transform: rotate3d(0, 2, 0, 180deg);
}
.top-header__main ul li {
line-height: 2.67;
}
.top-header__main {
background-size: 100% 590px;
}
.main-pointer {
display: none;
}
.page-title__main {
padding-top: 49px;
padding-bottom: 30px;
}
.row-main__increase {
display: none;
}
.row-main__increase-mob {
display: block;
}
.row-financ__serv {
display: none;
}
.row-financ__serv-mob {
display: block;
}
.navigation {
display: none;
}
.carousel-banks .owl-dots {
margin-top: 30px;
display: flex;
justify-content: center;
}
.carousel-banks .owl-dots .owl-dot {
margin: 0 5px;
width: 10px;
height: 10px;
border-radius: 50%;
border: 1px solid #bfd1dc;
}
.carousel-banks .owl-dots .active {
background-color: #2389e5;
border: 1px solid #2389e5;
}
.owl-carousel-bank div img {
max-width: 136px;
}
.carousel-banks {
margin-top: 5px;
}
.button__main-banks {
	font-size: 15px;
max-width: 250px;
height: 40px;
margin: 40px auto 50px auto;
}
.main-window__web-img-screen {
display: none;
}
.main-window__web-img-mob {
display: block;
margin: 0 auto;
}
.main-window__web .page-title__main {
display: none;
}
.main-window__web ul {
max-width: 250px;
margin: 20px auto;
}
.button__main-window-web {
	font-size: 15px;
max-width: 290px;
margin: 15px auto;
}
.main-window__web-all {
padding-top: 50px;
}
.main-window__web-all .row:nth-of-type(1) div:nth-of-type(2) {
padding-left: 15px;
}
.main-window__web-all .page-title__main-mob {
margin-top: 0;
margin-bottom: 24px;
display: block;
text-align: center;
}
.row-main-window_reverse {
display: flex;
flex-direction: column-reverse;
}
.main-window__web .page-title__main-mob-window {
display: block;
text-align: center;
}
.row-border_window {
padding-bottom: 35px;
}
.container-border_mob {
border-bottom: 1px solid #e9eaeb;
}
.main-window__web-all .row:nth-of-type(1) {
margin-bottom: 32px;
}
.row-main-window_reverse ul {
max-width: 295px;
}
.main-window__web-all ul li {
max-width: 100%;
}
.main-window__web-all ul li .img-window_pos {
top: -9px;
}
.window-main__youtube {
	flex-direction: column;
align-items: center;
}
.window-main__youtube a:nth-of-type(1) {
	display: block;
	margin-right: 0;
}
.window-main__youtube a:nth-of-type(2) {
	flex-direction: column;
	max-width: 145px;
}
.window-main__youtube a:nth-of-type(2) span {
	border-bottom: 1px dotted #004b7a;
}
.page-title__main-min {
font-size: 15px;
}
.main__video {
height: 350px;
}
.button-video__main {
flex-direction: column;
}
.button-video__main .button__main {
margin: 0 auto;
max-width: 210px;
height: 50px;
}
.button-video__main .button__main-second {
margin: 0 auto;
margin-top: 15px;
}
footer .footer-block p {
text-align: center;
}
footer .footer-block div {
margin-top: 10px;
}
footer .footer-block div a {
display: block;
}
footer .footer-block div a:nth-of-type(1) {
margin: 0 auto;
max-width: 105px;
}
footer .footer-block div a:nth-of-type(2) {
margin: 0 auto;
margin-top: 5px;
max-width: 140px;
}
footer .footer-block__two {
display: flex;
flex-direction: column-reverse;
}
footer .footer-block__two div {
display: flex;
margin: 48px auto 0 auto;
}
footer .footer-block__two div a:nth-of-type(1),
footer .footer-block__two div a:nth-of-type(2) {
margin: 0;
}
footer .footer-block__two p {
margin-top: 15px;
}
/*style agency*/
.breadcrumb li {
width: 100%;
}
.breadcrumb li a {
font-size: 13px;
}
.row-agency__reverse {
flex-direction: column-reverse;
}
.upload-container__logo {
margin: 0;
margin-top: 14px;
max-width: 100%;
}
#upload-container label:after {
display: none;
}
.name-agency p {
text-align: center;
}
.name-agency p:nth-of-type(2) span {
display: none;
}
.name-agency {
margin-top: 14px;
}
.name-agency p:nth-of-type(2) {
margin-top: 0;
}
.tabs-wrap {
display: none;
}
.tabs-wrap__mob{
display: flex;
margin-top: 24px;
margin-bottom: 26px;
}
#tabs .tabContent {
top: 0;
}
.tabContent-one_form {
max-width: 500px;
height: auto;
flex-wrap: wrap;
padding-top: 10px;
padding-bottom: 10px;
}
.tabContent-one_form .search {
max-width: 100%;
margin-bottom: 15px;
}
.agency-btn span:nth-of-type(1) {
display: none;
}
.agency-btn span:nth-of-type(2) {
display: block;
}
.tabContent-one_form .agency-btn,
.tabContent-one_form a:nth-of-type(2) {
max-width: 47%;
justify-content: center;
}
.agency-btn img {
margin-right: 15px;
}
.agency-btn:nth-of-type(1) {
margin: 0;
margin-right: 15px;
}
.sort-agency span span {
display: none;
}
.tabContent-one_sort a:nth-of-type(3) span:after {
width: 137px;
}
.tabContent-one_sort p {
margin-right: 13px;
}
.employees-title {
justify-content: center;
}
.employee {
flex-direction: column;
}
.employee div:nth-of-type(1),
.employee div:nth-of-type(2) {
width: 100%;
margin: 0;
}
.employee div:nth-of-type(2) {
margin-top: 14px;
display: flex;
flex-direction: column-reverse;
}
.employee div:nth-of-type(2) p:nth-of-type(2) {
flex-direction: column;
}
.employee div:nth-of-type(3) {
width: 100%;
display: flex;
justify-content: space-between;
margin-left: 0;
margin-top: 15px;
}
.tabContent-one__branches .employees-title__bottom {
text-align: center;
padding-bottom: 17px;
}
#r-adress-0 a, #r-adress-1 .employee__btn-hide {
width: 100%;
}
.modal_title {
font-size: 22px;
}
.agency_form__modal ul li {
margin-top: 10px;
}
.agency_form__modal input {
height: 30px;
font-size: 13px;
}
.agency_form__modal ul li p {
font-size: 11px;
}
.popup-menu {
padding: 0;
width: 100%;
}
.popup-menu .poup-1 {
border: none;
border-radius: 0;
box-shadow: none;
width: 100%;
padding: 15px 30px;
}
.container-menu {
position: static;
}
.overlay-menu:target+.popup-menu {
top: 0px;
-webkit-transform: translate(-50%, 0%);
transform: translate(-50%, 0%);
}
.navbar-model__mob {
display: block;
}
.close-menu {
width: 24px;
height: 24px;
top: 18px;
right: auto;
left: 15px;
}
.close-menu:before {
top: 11px;
left: -3px;
width: 30px;
}
.close-menu:after {
top: 9px;
left: -3px;
width: 30px;
}
.agency_form__modal ul li p {
font-size: 13px;
}
.modal_title {
font-size: 24px;
text-align: left;
}
.agency_form__modal input {
font-size: 16px;
}
.messenger__modal {
flex-direction: column;
}
.messenger__modal div {
width: 100%;
}
.messenger__modal div:nth-of-type(2) {
margin-top: 10px;
}
.agency_form__modal ul .modal-buttons {
flex-direction: column-reverse;
margin-top: 40px;
}
.agency_form__modal ul .modal-buttons .modal__button-first {
margin-top: 15px;
}
.modal-buttons .modal__button-second {
max-width: 260px;
}
.agency_form__modal ul .modal-agency__radio {
flex-direction: column;
margin-top: 30px;
}
.modal-agency__radio div:nth-of-type(1) {
margin-right: 0;
margin-bottom: 8px;
}
.tabs-wrap__mob .edit-mob__pen {
display: flex;
}
#tabs .tabs-wrap__mob .drop {
border: 1px solid #bfd1dc;
border-radius: 0px 0px 20px 20px;
}
#tabs .tabs-wrap__mob .whiteborder {
border: none;
}
.tabs-wrap__mob .select .slct {
display: flex;
margin-right: 0;
}
.tabs-wrap__mob .select .active {
	border-radius: 20px 20px 0 0;
}
#tabs .tabs-wrap__mob .drop {
display: none;
position: absolute;
top: 39px;
}
#tabs .tabs-wrap__mob .drop li {
margin: 0 auto;
padding: 0 15px;
border-top: 1px dotted #e8e8e8;
}
#tabs .tabs-wrap__mob .drop li:hover {
background: #e8e8e8;
}
#tabs .tabs-wrap__mob .drop .whiteborder {
border: none;
border-top: 1px dotted #e8e8e8;
}
#tabs .tabs-wrap__mob .select {
position: relative;
display: flex;
margin-right: 20px;
}
.arrow-mob__tab {
display: block;
position: absolute;
top: 50%;
margin-top: -4px;
right: 15px;
}
.user_agency {
display: none;
}
.tabContent-two__header {
flex-direction: column;
height: auto;
}
.tabContent-two .agency-btn {
max-width: 320px;
margin: 15px 0;
justify-content: center;
}
.tabContent-two__header form {
margin: 15px 0 0 0;
}
.drop li a {
font-size: 13px;
}
.tabContent-two__header .select .slct {
width: 320px;
}
.table .table-stroke__head {
display: none;
}
.table .table-stroke__head-mob div:nth-of-type(1),
.table .table-stroke__head-mob div:nth-of-type(2) {
width: 50%;
font-family: OpenSans;
font-size: 13px;
color: #999999;
padding: 0;
}
.table .table-stroke__head-mob div:nth-of-type(2) {
display: flex;
justify-content: flex-end;
}
.table .table-stroke {
flex-direction: column;
}
.table .table-stroke__head-mob {
display: flex;
flex-direction: row;
padding: 15px 0;
margin-top: 25px;
}
.table .table-stroke div:nth-of-type(1),
.table .table-stroke div:nth-of-type(2),
.table .table-stroke div:nth-of-type(3),
.table .table-stroke div:nth-of-type(4) {
width: 100%;
padding: 8px 0;
}
.table .table-stroke div:nth-of-type(1) {
display: flex;
justify-content: space-between;
}
.table .table-stroke div:nth-of-type(1) p {
display: block;
font-family: OpenSans;
font-size: 18px;
}
.table .table-stroke div:nth-of-type(3) {
display: none;
}
.tabContent-three__center div:nth-of-type(1) {
flex-direction: column;
margin-bottom: 25px;
}
.tabContent-three__center div:nth-of-type(1) p:nth-of-type(1) {
margin-bottom: 5px;
}
.tabContent-three__center div:nth-of-type(2) {
height: 226px;
}
.tabContent-three__bottom p {
flex-direction: column;
}
.tabContent-three__bottom input::-webkit-input-placeholder {
text-align: center;
}
.tabContent-three__bottom input:-moz-placeholder {
text-align: center;
}
.tabContent-three__bottom input:-ms-input-placeholder {
text-align: center;
}
.tabContent-three__bottom {
margin-top: 41px;
margin-bottom: 41px;
}
.agency_form__modal ul .modal-agency__radio-main {
flex-direction: column-reverse;
}
.agency_form__modal ul .modal-agency__radio-main div {
margin-top: 30px;
}
.modal-agency__radio-main div label:before {
top: 2px;
}
.poup-enter .modal_title, .poup-enter ul li {
padding: 0;
}
.poup-enter ul li:nth-of-type(3) {
background: transparent;
flex-direction: column-reverse;
}
.modal-agency__radio-2 div {
margin-top: 30px;
}
.modal-agency__radio-2 div label {
text-align: center;
}
.modal-agency__radio-2 div label:before {
left: 40px;
}
.poup-enter ul li:nth-of-type(3) {
margin-top: 10px;
}
.agency_form__modal #tabs {
margin-top: 20px;
}
.agency_form__modal #tabs .tab {
display: block;
margin: 0 auto;
}
.agency_form__modal #tabs .tab:nth-of-type(1) {
margin: 0 auto 10px auto;
}
.agency_form__modal #tabs .tab:nth-of-type(2) {
margin: 0 auto 10px auto;
}
.agency_form__modal #tabs .tab {
width: 260px;
}
.poup-enter-2 ul li:nth-of-type(6) {
background: transparent;
}
.poup-enter-2 ul .modal-agency__radio-6 {
display: flex;
flex-direction: column-reverse;
margin-top: 0;
padding-top: 0;
}
.modal-agency__radio-6 div {
position: relative;
margin-top: 30px;
}
.modal-agency__radio-6 div label:before {
top: 10px;
bottom: 0;
}
.modal-agency__radio-6 .button__main-second {
max-width: 260px;
height: 50px;
}
.breadcrumb-second li {
width: auto;
}
.btn-request__none {
display: none;
}
.name-page p {
width: 100%;
text-align: center;
font-size: 24px;
}
.name-request__bottom {
margin-top: 5px;
flex-direction: column;
justify-content: center;
}
.name-request__bottom p {
text-align: center;
}
.name-request__bottom p:nth-of-type(2) {
margin: 0;
margin-top: 10px;
}
.name-request__bottom p:nth-of-type(2) span:nth-of-type(1) {
display: none;
}
.name-request__bottom_second ul {
flex-direction: column;
}
.name-request__bottom_second ul li span {
display: inline-block;
margin-right: 12px;
}
.name-request__bottom_second ul li {
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 15px;
margin-right: 0;
}
.name-request__bottom_second {
margin-top: 31px;
}
.name-request__bottom_second ul li a {
max-width: 100%;
height: 17px;
}
.name-request__bottom_second ul li span {
margin: 0;
}
.name-request__bottom_second ul li a span {
display: inline-block;
}
.name-request__bottom_second ul li a span:after {
display: none;
}
.name-request__bottom_second ul li .btn-request__mob {
	position: relative;
max-width: 290px;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
border-bottom: none;
border: 1px solid #bfd1dc;
height: 40px;
margin-right: 0;
padding: 0;
}
.name-request__bottom_second ul li .btn-request__mob img {
position: absolute;
left: 15px;
margin: 0;
}
.document-form__one ul {
flex-direction: column;
}
#r-adress-12 .accordion, #r-adress-13 .accordion, #r-adress-14 .accordion, #r-adress-15 .accordion, #r-adress-16 .accordion, #r-adress-17 .accordion, #r-adress-18 .accordion, #r-adress-19 .accordion, #r-adress-20 .accordion, #r-adress-21 .accordion, #r-adress-22 .accordion, #r-adress-23 .accordion, #r-adress-24 .accordion, #r-adress-25 .accordion,#r-adress-10 .accordion, #r-adress-11 .accordion {
font-size: 16px;
}
.document-form__r-btn .radio-form__all {
flex-direction: column;
}
.document-form__one .drop {
position: relative;
}
.document-form__one ul li {
margin-bottom: 20px;
}
.document-form__form-btn {
flex-direction: column-reverse;
margin-bottom: 0;
}
.document-form__form-btn .btn-del {
margin-top: 10px;
margin-right: 0;
}
#r-adress-13 .accordion-height,
#r-adress-15 .accordion-height,
#r-adress-21 .accordion-height {
	position: relative;
}

#r-adress-12 .accordion,
#r-adress-13 .accordion,
#r-adress-14 .accordion,
#r-adress-15 .accordion,
#r-adress-20 .accordion,
#r-adress-21 .accordion {
height: auto;
position: relative;
min-height: 53px;
padding: 12px 50px 35px 50px;
line-height: 1.2;
}
#r-adress-14 .btn-change, #r-adress-15 .btn-change,
#r-adress-12 .btn-change, #r-adress-13 .btn-change,
#r-adress-20 .btn-change, #r-adress-21 .btn-change {
bottom: 15px;
top: auto;
height: auto;
max-height: 20px;
left: 50px;
z-index: 1;
}
#r-adress-14 .accordion span,
#r-adress-15 .accordion span,
#r-adress-12 .accordion span,
#r-adress-13 .accordion span,
#r-adress-20 .accordion span,
#r-adress-21 .accordion span  {
position: absolute;
top: 50%;
left: 15px;
margin: 0;
margin-top: -10px;
}
#r-adress-14 .accordion img,
#r-adress-15 .accordion img,
#r-adress-12 .accordion img,
#r-adress-13 .accordion img,
#r-adress-20 .accordion img,
#r-adress-21 .accordion img {
position: absolute;
top: 50%;
margin: 0;
margin-top: -4px;
right: 20px;
}
.download-zone__name .radio-checkbox {
display: none;
}
.download-zone__name p {
width: 100%;
text-align: center;
}
.download-zone #upload-container span {
display: none;
}
.download-zone #upload-container label,
.agreement-requst #upload-container label {
border-bottom: 1px dotted #004b7a;
}
#r-adress-24 .accordion,
#r-adress-25 .accordion {
height: 75px;
}
.btn-agreement--screen {
display: none;
}
.btn-agreement--mob {
display: block;
}
.btn-agreement--mob input {
margin-top: 15px;
max-width: 320px;
width: 100%;
height: 40px;
padding-left: 15px;
border-radius: 20px;
border: 1px solid #e9eaeb;
}
.btn-agreement--mob input[placeholder] {
font-family: OpenSans;
font-size: 13px;
color: #999999;
}
.btn-agreement--mob input::-moz-placeholder {
font-family: OpenSans;
font-size: 13px;
color: #999999;
}
.btn-agreement--mob input:-moz-placeholder {
font-family: OpenSans;
font-size: 13px;
color: #999999;
}
.btn-agreement--mob input:-ms-input-placeholder {
font-family: OpenSans;
font-size: 13px;
color: #999999;
}
.download-name__mob {
	display: block;
	font-family: OpenSans;
  font-size: 13px;
  color: #999999;
  margin-top: 25px;
}
.agreement-requst #upload-container span {
	display: none;
}
.container-request {
	padding-bottom: 40px;
}
.name-page_requests p {
	text-align: left;
}
.mob-none {
	display: none;
}
.tabs-wrap-requests__mob {
	margin-top: 0px;
	margin-bottom: 16px;
}
.tabContent-requests_one-header_wrap {
	height: auto;
}
.tabContent-requests_one-data {
	flex-direction: column;
}
.tabContent-requests_one-data li:nth-of-type(1),
.tabContent-requests_one-data li:nth-of-type(4) {
	flex-basis: auto;
}
.tabContent-requests_one-data .search,
.tabContent-requests_one-data .search input {
	max-width: 320px;
	margin: 0 auto;
}
.screen_table-none {
	display: block;
}
.tabContent-requests_one-data li .select .drop {
	position: relative;
	top:-1px;
}
.tabContent-requests_one-data .request-disabled .select .slct {
	color: #222222;
	background: #e8edf0;
}
.tabContent-requests_one-data .request-disabled .select .slct span {
	font-family: OpenSans;
	font-size: 13px;
	color: #999999;
	margin-left: 3px;
}
.tabContent-requests_one-data li .select {
	max-width: 320px;
}
.tabContent-requests_one-data li {
	margin-bottom: 10px;
}
.tabContent-requests_one-header_wrap {
	padding-top: 15px;
	padding-bottom: 15px;
}
.tr_header {
	display: none;
}
.tr {
	flex-direction: column;
	padding-left: 15px;
	padding-right: 15px;
}
.tr-left p:nth-of-type(2),
.tr-right p:nth-of-type(n+2),
.tr .tr-right .position_p {
	position: relative;
	bottom: 0;
}
.tr li:nth-of-type(1),
.table-request .tr li:nth-of-type(2),
.table-request .tr li:nth-of-type(3) {
	width: 100%;
}
.tr-left {
	position: relative;
	display: flex;
	flex-direction: column-reverse;
}
.state-new,
.tr-consideration-mob,
.tr-approved-mob {
	position: absolute;
	top: 0;
	right: 0;
	font-family: OpenSans;
	font-size: 15px;
color: #111111;
background-color: #b8ddff;
 width: 51px;
 text-align: center;
 border-radius: 4px;
}
.tr-consideration-mob {
	width: 79px;
  background-color: #ffea79;
}
.tr-approved-mob {
	width: 80px;
	color: white;
	background-color: #189f6c
}
.tr-right {
	display: none;
}
.tr-number span:nth-of-type(1) {
	padding: 0 2px;
	font-size: 14px;
	background-color: #999999;
	color: white;
}
.tr-name {
	margin-top: 20px;
}
.table-request {
	padding-top: 0;
	padding-bottom: 50px;
}
.tr-center {
	margin-top: 15px;
}
.tr-center p {
  max-width: 100%;
}
.btn-screen-none {
	display: flex;
}
.tr-bottom {
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 15px;
	height: auto;
}
.tr-wrap .manager {
	margin: 0;
}
.calculator-main .row {
	margin-bottom: 25px;
}
.margin-calc_mob {
	margin-bottom: 25px;
}
.name-pages_new-request {
	margin-top: 45px;
}
.calculator-main .select .drop {
	position: relative;
}
.calculator-main .select .drop li {
	padding: 0;
}
.radio-new_request {
	flex-direction: column;
	align-items: flex-start;
}
.radio-checkbox__long {
	margin-top: 5px;
}
.radio-checkbox__long label {
	position: relative;
}
.radio-checkbox__long label span {
padding-left: 30px;
display: block;
}
.radio-checkbox__long label:before {
	position: absolute;
	top: 5px;
	margin-top: -9px;
	left: 0px;
}
.table-calc-header p {
text-transform: capitalize;
}
.table-calc-header p span {
	display: none;
}
.table-calc-usual p {
	font-size: 15px;
}
.table-calc li:nth-of-type(1) {
	width: 47%;
}
.table-calc li:nth-of-type(2) {
	width: 33%;
}
.table-calc li:nth-of-type(3) {
width: 20%;
}
.name-settings {
	text-align: center;
}
.name-settings-main {
	padding-bottom: 10px;
}
.name-settings-main p {
  text-align: left;
}
.document-form__form-btn-settings {
	margin-top: 20px;
}
.row-grey_new-request div {
padding: 0;
}
.row-grey_new-request .name-new-request{
background: #f3f5f6;
}
.row-grey_new-request ul {
padding: 0 15px;
}
.name-new-request {
	flex-direction: column;
	padding: 20px 0 15px 0;
	text-align: center;
	width: 100%;
}
.name-new-request img {
	margin: 0;
}
.row-grey_new-request .radio-checkbox {
	display: none;
}
.screen_table-none #upload-container {
	font-size: 13px;
	height: 60px;
}
.screen_table-none #upload-container label {
	border-bottom: 1px dotted #004b7a;
}
.request-new_mob {
	padding: 0 15px;
}
.new-request_btn {
	flex-direction: column-reverse;
	margin-top: 17px;
	margin-bottom: 17px;
}
.new-request_btn a:nth-of-type(1) {
	margin-bottom: 0;
	margin-top: 15px;
}
.tabContent-requests_one-data .resize-li {
	flex-basis: auto;
}
.name-table_calc {
	text-align: center;
}
.name-documents p {
	text-align: left;
}
.name-pages_new-request {
	flex-direction: column-reverse;
	align-items: center;
}
.name-pages_new-request a {
	margin: 0;
	margin-bottom: 25px;
}
.papper-view img {
	margin-right: 8px;
}
.btn-agreement--mob input {
	padding: 0 0 0 15px;
	margin: 0 auto;
	width: 100%;
	max-width: 100%;
	margin-top: 15px;
	margin-bottom: 10px;
}
}
@media only screen and (max-width: 620px) {
.button-top__txt {
width: 106%;
}
.main__video {
height: 330px;
}
}
@media only screen and (max-width: 525px) {
.button-top__txt {
width: 107%;
}
.main__video {
height: 300px;
}
.table-calc-usual img {
zoom: 0.8;
}
}
@media only screen and (max-width: 440px) {
.button-top__txt {
width: 108%;
}
.main-container__video .page-title__main span {
display: block;
}
.main__video {
height: 250px;
}
.table-calc-usual img {
zoom: 0.7;
}
}
@media only screen and (max-width: 400px) {
.button-top__txt {
width: 111%;
}
.logo-mob img {
max-width: 120px;
}
.bell-mob {
margin-left: 0;
}
.tr-bottom {
	padding-left: 10px;
	padding-right: 10px;
}
.tr-wrap .manager img, .tr-wrap .city img {
	margin-right: 5px;
}
.table-calc-usual img {
	zoom: 0.6;
}
.name-pages_new-request {
	font-size: 28px;
}
}
@media only screen and (max-width: 350px) {
.top-header__main ul li {
padding-left: 30px;
position: relative;
line-height: 1.2;
margin-bottom: 27px;
}
.top-header__main ul li img {
position: absolute;
left: 0;
top: 0;
}
.tabContent-one_sort a {
padding: 0 5px;
}
.sort-agency__active img {
margin-left: 5px;
}
.tabContent-two__header .select .slct {
width: 290px;
}
.modal-agency__radio input[type=radio] + label:before {
margin-right: 8px;
}
.modal-agency__radio label span {
padding-left: 27px;
}
.tr-wrap .manager, .tr-wrap .city {
	font-size: 11px;
}
}